# Python
__pycache__/
*.py[cod]

# C
*.d
*.o
*.obj
*.so
*.out

# Pycharm
.idea/

# ROS 
*/catkin_ws/.catkin_tools
*/catkin_ws/build
*/catkin_ws/devel
*/catkin_ws/logs
ros_lib/

# Specific files
# Startup
src/start/current_device_names.cfg
src/start/current_devices.cfg
src/start/masterprocess
src/start/masterprocess.o
